[access "refs/heads/*"]
	create = group vixl-maintainers
	forgeAuthor = group vixl-maintainers
	forgeCommitter = group vixl-maintainers
	push = +force group vixl-maintainers
	label-Code-Review = -2..+2 group vixl-maintainers
	label-Code-Review = -1..+1 group vixl-contributors
	submit = group vixl-maintainers
