[access "refs/heads/*"]
	create = group vixl-maintainers
	forgeAuthor = group vixl-maintainers
	forgeCommitter = group vixl-maintainers
	push = +force group vixl-maintainers
	label-Code-Review = -2..+2 group vixl-maintainers
	label-Code-Review = -1..+1 group Non-Interactive Users
	label-Code-Review = -1..+1 group vixl-contributors
	label-Verified = -1..+1 group Non-Interactive Users
	label-Verified = -1..+1 group vixl-maintainers
	submit = group vixl-maintainers
[access "refs/tags/*"]
	create = group vixl-maintainers
	createTag = group vixl-maintainers
	createSignedTag = group vixl-maintainers
	push = group vixl-maintainers
[access "refs/*"]
	read = group Non-Interactive Users
[project]
	description = AArch32 and AArch64 Runtime Code Generation Library
[submit]
	action = rebase if necessary
[label "Verified"]
	function = MaxWithBlock
	value = -1 Fails
	value =  0 No score
	value = +1 Verified
	defaultValue = 0
